html,body 
{ 
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}